<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Profil User</title>
  </head>
  
  <body class="bg-light">
    <%- include('_navbarProfile') %>

    <!-- --------------------------------- -->
    <div class="container py-5">
      <div style="text-align: center;">
        <h1>Halo, <%= getUsernameFromEmail(user.email) %>!!!</h1>
      <p>Role: <strong><%= user.role %></strong></p>
      <p>Account Created on: <strong><%= user.getFormatedDate() %></strong></p>
      </div>
      

        <% if (user.UserProfile && user.UserProfile.bio) { %>
        <p><strong>Bio:</strong> <%= user.UserProfile.bio %></p>
        <% } else { %>
        <p><em>Belum ada bio.</em></p>
        <% } %>

        <hr />

        <h4><%= user.UserProfile ? "Edit Bio" : "Tambah Bio" %></h4>
        <form action="/profile/<%= user.id %>/bio" method="post">
          <div class="mb-3">
            <% if (error) { %> <% error = error.split(',') %> <% error.forEach(err =>
      { %>

      <p style="color: red"><%= err %></p>
      <% }); %> <% } %>
            <textarea
              name="bio"
              rows="3"
              class="form-control"
              placeholder="Tulis bio di sini..."
            >
<%= user.UserProfile ? user.UserProfile.bio : "" %></textarea
            >
          </div>
          <button type="submit" class="btn btn-primary">Save Bio</button>
        </form>

        <hr />
<h3>Your Post!</h3>

<% if (user.Posts && user.Posts.length > 0) { %>
  <% user.Posts.forEach(post => { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.content %></p>

        <% if (post.imgUrl) { %>
          <img src="<%= post.imgUrl %>" class="img-fluid mb-3" alt="Post image" />
        <% } %>

        <small class="text-muted">👍 <%= post.like %> Likes</small>
      
      </div>
    </div>
  <% }) %>
<% } else { %>
  <p><em>Belum ada postingan.</em></p>
<% } %>


      </div>

    
    </div>

    <%- include('_linkbs') %>
  </body>
</html>
