<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Profil User</title>
  </head>
  <body class="bg-light">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h1>Home</h1></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
    
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>

      
      </ul>
    </div>
  </div>
</nav>

    <!-- --------------------------------- -->
    <div class="container py-5">
      <h1>Halo, <%= getUsernameFromEmail(user.email) %>!!!</h1>
      <p>Role: <strong><%= user.role %></strong></p>
      <p>Account Created on: <strong><%= user.getFormatedDate() %></strong></p>

        <% if (user.UserProfile && user.UserProfile.bio) { %>
        <p><strong>Bio:</strong> <%= user.UserProfile.bio %></p>
        <% } else { %>
        <p><em>Belum ada bio.</em></p>
        <% } %>

        <hr />

        <h4><%= user.UserProfile ? "Edit Bio" : "Tambah Bio" %></h4>
        <form action="/profile/<%= user.id %>/bio" method="post">
          <div class="mb-3">
            <% if (error) { %> <% error = error.split(',') %> <% error.forEach(err =>
      { %>

      <p style="color: red"><%= err %></p>
      <% }); %> <% } %>
            <textarea
              name="bio"
              rows="3"
              class="form-control"
              placeholder="Tulis bio di sini..."
            >
<%= user.UserProfile ? user.UserProfile.bio : "" %></textarea
            >
          </div>
          <button type="submit" class="btn btn-primary">Save Bio</button>
        </form>

        <hr />
<h3>Your Post!</h3>

<% if (user.Posts && user.Posts.length > 0) { %>
  <% user.Posts.forEach(post => { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.content %></p>

        <% if (post.imgUrl) { %>
          <img src="<%= post.imgUrl %>" class="img-fluid mb-3" alt="Post image" />
        <% } %>

        <small class="text-muted">👍 <%= post.like %> Likes</small>
      </div>
    </div>
  <% }) %>
<% } else { %>
  <p><em>Belum ada postingan.</em></p>
<% } %>


      </div>

    
    </div>

    <%- include('_linkbs') %>
  </body>
</html>
